<h1>Users#edit</h1>
<!--<p>Find me in app/views/users/edit.html.erb</p>-->
<main>
    <div>
        <h1>User info</h1>
         <%= form_with model: @user do |f| %>

        <h3>name <%= f.text_field:name %></h3>
        <%= f.file_field :profile_image, placeholder: "Image", accept: "image/*" %>
        <h3>introduction</h3>
         <%= f.text_field :introduction %>
         <%= f.submit 'Update user' %>
        <% end %>
    </div>

</main>