
<%= link_to "Users", users_path %>
<%= link_to "Books", books_path %>

<%= render 'users/user', user: @user %>

<%= render 'books/book', book: @book %>
<h1>Users#index</h1>
<!-- ユーザーの投稿一覧 -->

<% @users.each do |user| %>
<div>

    <%= image_tag user.get_profile_image(100,100) %><br>
    <h3>name:<%= user.name %></h3>
    <h3>introduction:<%= user.introduction %></h3>
  <% end %>


</div>

