<%= link_to "Users", users_path %>
<%= link_to "Books", books_path %>

<%= render 'users/user', user: @user %>

<%= render 'books/book', book: @book %>

<h1>Books#index</h1>
<% @books.each do |book| %>
<div>
  <p>title:<%= book.title %></p>
  <p>Body:<%= book.body%></p>

</div>

<% end %>
